extends ./layout

block title

block content 
  h2 All To-Do's
  a(href="/new_todo")
    button New To-Do
  ul
    each todo in todos
      if todo.is_done === true
        li.todo.complete
          +listitem(todo, "checked")
      else 
        li.todo
          +listitem(todo)


mixin listitem(todo, completed)
    .taskItem
      input(type="checkbox", data-todo-id="#{todo._id}", data-checked="#{todo.is_done}", checked=completed)
      a(href="/todos/#{todo._id}")!= todo.title
      form(action="/todos/#{todo._id}?_method=DELETE", method="POST")
        button.delete x
    li.description!= todo.description

