extends ./layout

block title

block content
  //- a(href="/todos/edit")
  //- button Edit To-Do
  .todo_info
    h2!=todo.title
    p.created_at!= todo.created_at
    button.edit Edit
    p!= todo.description
  .edit_form
    form(action="/todos/#{todo._id}?_method=PUT",method="POST")
      input.title(type="text", name="title", value=todo.title)
      input.description(type="text",name="description", value=todo.description)
      button save
